/* Generic Rules */

body {
    width: 700px;
    font-family: 'Merriweather', serif;
    color: #333;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}

nav a {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 15px 20px 15px 0;
    display: inline-block;
    text-transform: uppercase;
    font-family: Arial, serif;
    color: #333;
}

footer {
    border-top: 1px solid #ececec;
    padding: 20px 0;
    margin-top: 60px;
}


/* Header */

.logo {
    padding-right: 20px;
    display: table-cell;
}


section {
    margin-top: 40px;    
}


h1, h2, h3, h4, h5, h6 {
    font-family: Arial; /* 'Roboto Slab', serif; */
}


a {
    color: #44B78B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.secondary {
    color: #333;
}

.icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
}




