---
title: Jun Koda's Home Page
---
<section>
<p>Postdoctoral researcher in astrophysics / cosmology</p>

<p>
INAF - Osservatorio Astronomico di Brera<br />
Via E. Bianchi 46<br />
23807 Merate (LC)<br />
Italy
</p>

<p>
  <a href="mailto:{{ site.email }}">
    <span class="icon"> {% include mail.html %} </span>
    {{ site.email }}</a>
</p>
<p>
<a href="https://github.com/junkoda">
  <span class="icon"> {% include github.html %} </span>
  GitHub/junkoda</a>
</p>

<p>
  <a href="https://it.linkedin.com/in/junkoda">
    <span class="icon"> {% include in.html %} </span>
    Linkedin/junkoda</a>
</p>
</section>

<section>
<h2 class="section">Publications</h2>
 
<ul>
  {% for post in site.posts %}
  {% if post.category == 'paper' %}
  <li>
    <a class="secondary" href="{{ post.permalink }}">{{ post.title }}</a>, <a href="{{ post.href }}">{{ post.link }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<p> <a href="http://adsabs.harvard.edu/cgi-bin/nph-abs_connect?db_key=AST&db_key=PRE&qform=AST&arxiv_sel=astro-ph&aut_xct=YES&author=Koda%2C+Jun">NASA ADS</a> / <a href="http://arxiv.org/find/astro-ph/1/au:+Koda_Jun/0/1/0/all/0/1">arXiv</a> / <a href="http://scholar.google.com.au/citations?hl=en&view_op=list_works&gmla=AJsN-F7jIV5HzlRJPpz8B1hXKYlEckwTOw2pgg752WTQScYOOJIVww6dv-4EimT4JsYBfDEBFKT2Nlp39Yq8Jm5bFJGwoEohwA&user=_1zYjXgAAAAJ">Google Scholar</a></p>
</section>

<section>
<h2 class="section">Codes</h2>

{% include code_list.html %}
</section>



