---
layout: base
title: Jun Koda / papers
permalink: /papers/
---

<h2>Papers</h2>

<ul>
  {% for post in site.posts %}
  {% if post.category == 'paper' %}
  <li>
     <a class="secondary" href="{{ post.permalink }}">{{ post.title }}</a>, <a href="{{ post.href }}">{{ post.link }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<p> <a href="http://adsabs.harvard.edu/cgi-bin/nph-abs_connect?db_key=AST&db_key=PRE&qform=AST&arxiv_sel=astro-ph&aut_xct=YES&author=Koda%2C+Jun">NASA ADS</a> / <a href="http://arxiv.org/find/astro-ph/1/au:+Koda_Jun/0/1/0/all/0/1">arXiv</a> / <a href="http://scholar.google.com.au/citations?hl=en&view_op=list_works&gmla=AJsN-F7jIV5HzlRJPpz8B1hXKYlEckwTOw2pgg752WTQScYOOJIVww6dv-4EimT4JsYBfDEBFKT2Nlp39Yq8Jm5bFJGwoEohwA&user=_1zYjXgAAAAJ">Google Scholar</a></p>
